@import '../node_modules/normalize.css/normalize.css';

* {
	box-sizing: border-box;
}

::selection {
	background: #fbab19;
}

html,
body {
	font-size: 16px;
	word-break: keep-all;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo,
		Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	letter-spacing: -0.3px;
	color: #191f28;
	padding-bottom: 2rem;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	scroll-behavior: smooth;
	line-height: 1.2;
}

@media screen and (max-width: 960px) {
	html,
	body {
		font-size: 14px;
	}
}

body:before {
	position: fixed;
	z-index: 1;
	top: 0;
	display: block;
	content: '';
	width: 100%;
	height: 10px;
	background: #fbab19;
	background: linear-gradient(to right, #fa7367, #fbab19);
}

section {
	padding: 0 2rem;
}

p {
	margin: 0 0 0.9rem 0;
	/* font-size: 1.1rem; */
	line-height: 1.5;
}

a {
	color: #fa7367;
	transition: color 0.3s ease;
}

a:hover {
	color: #fbab19;
}

h1 {
	font-size: 4rem;
	line-height: 1.1;
}

h2 {
	font-size: 2rem;
	margin: 3rem 0 0rem 0;
}

h3 {
	font-size: 1.5rem;
	margin: 0.25rem 0 0.75rem 0;
}

h4 {
	font-size: 1.25rem;
	margin: 0 0 0.75rem 0;
}

h5 {
	font-size: 1.1rem;
	margin: 0 0 0.5rem 0;
}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 3rem;
		margin-top: 1.5rem;
		margin-bottom: 0;
	}

	h2 {
		font-size: 1.75rem;
		margin: 2rem 0 0.8rem 0;
	}

	h3 {
		font-size: 1.5rem;
		margin: 0 0 0.9rem 0;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5 {
		font-size: 1rem;
		margin: 0 0 0.5rem 0;
		color: #333333;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem 0;
	/* font-size: 1.1rem; */
}

ul > li {
	position: relative;
	padding: 0.25rem 0 0.25rem 1rem;
}

ul > li:before {
	position: absolute;
	left: 0;
	display: inline-block;
	content: '•';
	color: #fa7367;
}

ul > li > p {
	padding-top: 0.25rem;
	margin: 0;
}

.separator {
	display: flex;
	flex-flow: row wrap;
}
.separator > li {
	padding: 4px 0px 4px 24px;
}
.separator > li:before {
	position: absolute;
	left: 0;
	display: inline-block;
	content: '•';
	color: #fa7367;
	padding-left: 8px;
}
.separator > li:first-child {
	padding-left: 0px;
}
.separator > li:first-child:before {
	content: '';
	padding-left: 0px;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding-top: 32px;
	/* margin: 40px 150px 0 150px; */
}

.period-mark {
	color: #fa7367;
}

.big-paragraph {
	font-size: 1.4em;
	line-height: 1.4;
	font-weight: 500;
}

@media screen and (max-width: 960px) {
	.big-paragraph {
		font-size: 1.25rem;
	}
}

.row {
	display: flex;
	padding: 2.7rem 0;
	border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 960px) {
	.row {
		flex-direction: column;
	}
}

.three-col {
	justify-content: space-between;
}

.last-paragraph {
	padding: 1.75rem 0;
}

.other {
	padding: 1.3rem 0;
	border-bottom: 1px solid #eeeeee;
}

.role {
	display: block;
}

.side-projects {
	padding-top: 0.75rem;
	line-height: 1.5;
}

.paragraph {
	padding: 0.5rem 0;
}

.paragraph:first-child {
	padding-top: 0;
}

.time {
	display: block;
	margin-bottom: 0.75rem;
	color: #8b95a1;
}

.center {
	display: flex;
	justify-content: center;
}

.dark-link {
	color: #191f28;
	transition: color 0.3s ease;
	text-decoration: none;
}

.dark-link:hover {
	color: black;
}

.title {
	display: flex;
	justify-content: space-between;
}

.contact {
	margin: 53.12px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.contact-item {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	height: 24px;
}

@media screen and (max-width: 960px) {
	.title {
		flex-direction: column;
	}

	.contact {
		margin: 32px 0;
	}

	.contact-item {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
	}
}

.mr {
	margin-right: 8px;
}

@media screen and (max-width: 960px) {
	.mr {
		margin-right: 4px;
	}
}

.last-updated {
	padding-top: 8rem;
}

ul.nested-list {
	margin: 0.25rem 0 0 0.5rem;
	list-style: none;
}

ul.nested-list > li {
	padding-top: 0.25rem;
	color: #333333;
}

ul.nested-list > li::before {
	content: '• ';
	color: #333333;
}

.three-col {
	display: flex;
}

.col {
	flex: 1;
}
