@import '../node_modules/normalize.css/normalize.css';

* {
	box-sizing: border-box;
}

::selection {
	background: #ffd740;
}

html,
body {
	font-size: 14px;
	word-break: keep-all;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo,
		Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	letter-spacing: -0.3px;
	color: #191f28;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	scroll-behavior: smooth;
	line-height: 1.5;
}

.bg-floral-white {
	background-color: #f1efe9;
}

@media screen and (max-width: 720px) {
	html,
	body {
		font-size: 14px;
	}
}

body:before {
	position: fixed;
	z-index: 1;
	top: 0;
	display: block;
	content: '';
	width: 100%;
	height: 10px;
	/* background: #ffd740;
	background: linear-gradient(to right, #fa7367, #ffd740); */
}

p {
	margin: 0 0 0.9rem 0;
	/* font-size: 1.1rem; */
	line-height: 1.5;
}

a {
	color: #fa7367;
	transition: color 0.3s ease;
}

a:hover {
	color: #ffd740;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.3;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	margin: 1.15rem 0 0.4rem 0;
}

h3 {
	font-size: 1.25rem;
	margin: 0.25rem 0 0.5rem 0;
}

h4 {
	font-size: 1.25rem;
	margin: 0 0 0.75rem 0;
}

h5 {
	font-size: 1.1rem;
	margin: 0 0 0.5rem 0;
}

@media screen and (max-width: 720px) {
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.75rem;
		margin: 1.25rem 0 0.4rem 0;
	}

	h3 {
		font-size: 1.5rem;
		margin: 0 0 0.8rem 0;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.1rem;
		margin: 0 0 0.4rem 0;
		color: #333333;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem 0;
	/* font-size: 1.1rem; */
}

ul > li {
	position: relative;
	padding: 0.25rem 0 0.25rem 1rem;
}

ul > li:before {
	position: absolute;
	left: 0;
	display: inline-block;
	content: '•';
	color: #fa7367;
}

ul > li > p {
	padding-top: 0.25rem;
	margin: 0;
}

hr {
	border: 0.5px solid #eeeeee;
	margin: 1rem 0 1.5rem 0;
}

.separator {
	display: flex;
	flex-flow: row wrap;
}
.separator > li {
	padding: 0px 0px 0px 20px;
}
.separator > li:before {
	position: absolute;
	left: 0;
	display: inline-block;
	content: '•';
	color: #fa7367;
	padding-left: 8px;
}
.separator > li:first-child {
	padding-left: 0px;
}
.separator > li:first-child:before {
	content: '';
	padding-left: 0px;
}

.container {
	width: 100%;
	max-width: 900px;
	padding: 2rem 3rem;
	margin: 2rem auto;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: white;
}

.summary {
	font-size: 1.1rem;
	line-height: 1.5;
}

.period-mark {
	color: #fa7367;
}

.other {
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #eeeeee;
}

.role {
	display: block;
}

.paragraph:first-child {
	padding-top: 0;
}

.time {
	display: block;
	margin-bottom: 0.75rem;
	color: #8b95a1;
}

.center {
	display: flex;
	justify-content: center;
}

.dark-link {
	color: #191f28;
	transition: color 0.3s ease;
	text-decoration: none;
}

.dark-link:hover {
	color: black;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.items-end {
	align-items: flex-end;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.contact-item {
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 0.8rem;
	margin-bottom: 0.25rem;
}

.subtitle {
	font-size: 2rem;
	margin-top: 0.5rem;
}

.mr {
	margin-right: 8px;
}

@media screen and (max-width: 720px) {
	.mr {
		margin-right: 4px;
	}
}

.last-updated {
	padding-top: 4rem;
	font-size: 0.8rem;
}

.font-600 {
	font-weight: 600;
}

ul.nested-list {
	margin: 0.25rem 0 0 0.5rem;
	list-style: none;
}

ul.nested-list > li {
	padding-top: 0.25rem;
	color: #333333;
}

ul.nested-list > li::before {
	content: '• ';
	color: #333333;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.left-column {
	border-right: 1px solid #eeeeee;
	padding-right: 2rem;
}

.sm {
	display: none;
}

@media screen and (max-width: 720px) {
	* {
		background-color: transparent !important;
	}
	.container {
		margin: 0 auto;
		padding: 2rem;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	.left-column {
		border: none;
		padding-right: 0;
	}
	.md {
		display: none;
	}
	.sm {
		display: flex;
	}
	.sm-contact-item {
		display: flex;
		align-items: center;
		height: 20px;
		font-size: 0.8rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}
}

.pr-4 {
	padding-right: 2rem;
}

.pl-4 {
	padding-left: 2rem;
}

.pt-1 {
	padding-top: 0.5rem;
}

.pt-2 {
	padding-top: 1rem;
}

.pt-4 {
	padding-top: 2rem;
}

.py-1 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

@media print {
	/* All your print styles go here */
	* {
		background-color: white !important;
	}
	.container {
		box-shadow: none;
		margin-top: 0;
	}
	.last-updated {
		display: none;
	}
	.print {
		page-break-before: always;
		padding-top: 0.5rem;
	}
}
